<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/paint-palette.png" alt="">
  </div>
  <div class="headings">
    <h2>CLEAN~ARTS</h2>
    <h5>Click to show your creativity!</h5>
    <a href="/smoothies" class="btn">View More</a>
  </div>
</header>


<%- include('partials/footer'); -%>